

html,body{
    margin:0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*-----------global classes------------*/



a{
    text-decoration: none;
}

.flex-row{
    
}

/* ------------------global classes------------- */

/* ------------------navbar ------------*/



.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 50vh;
    overflow:hidden;
}


.nav .nav-menu{
    display: flex;
    flex-direction:row;
    justify-content: space-between; 
}



.nav.nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    text-decoration: none;
    
} 
